<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <%- include('navbar', {links: links}) %>
        
        <h1>Home</h1>

        <h3>Messages:</h3>
        <ul>
            <% messages.forEach((msg) => { %>
            <%- include('messages/message', {message: msg}); %>
            <% }); %>
        </ul>

        <%- include('footer', {}) %>
    </body>
</html>