<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <%- include('navbar', {links: links}) %>
        
        <h1>New Message</h1>
        <p>
            <%= message %>
        </p>

        <%- include('footer', {}) %>
    </body>
</html>