<li> 
    <div class="message-container">
        <p> Message: <%= message.text %> </p>
        <p> User: <%= message.user %> </p>
        <p> Added: <%= message.added.toLocaleString() %> </p>
    </div>
</li>