body {
    color: black;
}

ul {
  list-style-type: none;
}

.message-container {
  border: 1px solid green;
  margin: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}